.row {
    margin-left: 20px;
    color: #fff;
    margin-bottom: 4rem;
}

.rowtitle {
    margin-top: 10px;
    padding-top: 10px;
}

.posters {
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.poster {
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.posters::-webkit-scrollbar {
    display: none;
}

.smallPoster {
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.poster:hover {
    transform: scale(1.1);
}

.smallPoster:hover {
    transform: scale(1.1);
}

.movieDetails {
    margin-left: 20px;
    margin-top: 2rem;
}

.trailerAndContent {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.trailer {
    flex: 1;
}

.content {
    margin-left: 20px;
    flex: 1;
    margin-bottom: 8rem;
    margin-top: -4rem;
}

.title {
    font-size: 24px;
    margin: 0;
    padding-bottom: 10px;
    
}

.banner_button .button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: rgba(51, 51, 51, 0.5);
}

.banner_button .button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.description {
    font-size: 16px;
    max-width: 500px;
    margin-top: 20px;
    line-height: 1.3;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
